body{
	padding-top: 70px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight: 800;
}

#headshot{
	width: 100%;
	max-width: 140px;
	padding-bottom: 20px;
}

.content{
	padding-top: 21px;
}

ul{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 12px;
}
ul>li{
	margin-bottom: 6px;
}